<div class="preview">
  <p class="about-visual">
    美味しいご飯が好き<br>
    食べることも好き<br>
    だけど、体型や体重が気になる。<br>
    healthy to eat で食べる健康を手に入れましょう！
  </p>
  
  <div class="slider">
    <%= image_tag 'img1.jpg' %>
    <%= image_tag 'img2.jpg' %>
    <%= image_tag 'img3.jpg' %>
  </div>
</div>
