<%= form_with(model:[:customers, food, comment] ) do |f| %>
    <div class="row">
      <div class="col-12">
        <%= f.text_area :comment_content, rows:'4', class: "form-control" %>
      </div>
    </div>
   <%= f.submit "コメントする", class: "btn btn-sm btn-base-1 mt-20 pull-right" %>
  <% end %>