/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "slick-theme";
 @import "slick";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 .logo {
  font-size: 30px;
  font-family: 'Caveat', cursive;
}

body {
 margin: 0;
 display: flex;
 flex-flow: column;
 min-height: 100vh;
 background: -moz-radial-gradient(#FFFFFF, #E6FFE9);
 background: -webkit-radial-gradient(#FFFFFF, #E6FFE9);
 background: radial-gradient(#FFFFFF, #E6FFE9);
}

.main {
 margin: auto 0;
 flex: 1;
}

.top-recommended {
 margin-left: 90px;
}

 .serach {
  margin-top: 20px;
}

 .rank {
  width: 150px;
  margin-left: 10px;
}

.about-title {
 text-align: center;
}

.preview {
 position: relative;
 background-image: image-url(img/img1), image-url(img/img2), image-url(img/img3);
}

.recipe {
 display: flex;
 justify-content: flex-start;
}

.recipe-show {
 display: inline-block;
}

.food-name {
 font-size: 20px;
 padding-left: 20px;
}

.food-kcal {
 text-align: center;
}

.recipe-introduction {
 padding-left: 20px;
}

.tag-list {
 padding-left: 20px;
}

.edit-btn {
 margin-top: 100px;
 padding-left: 20px;
}

.edit-recipe-name {
 padding-bottom: 10px;
}

.edit-recipe-kcal {
 padding-bottom: 10px;
}

.edit-introduction-text {
 margin-bottom: 20px;
}

.comments {
 margin-top: 100px;
}

footer {
}
